
.navbar{
    height: 100px;
    font-size: larger;
}

.biker-zone-light-red{
    background-color: red;
}
.bg-body-tertiary{
 background-color: yellowgreen;
}
.bz-footer{
    padding-left: 35px;
   
}
.bz-f-ul ul li{
    text-decoration: none;
    display: flex;
}
